.vrf--relative {
  position: relative;
}

.vrf--thanks-modal {
  text-align: center;
  font-size: 40px;
  left: 50%;
  top: 42%;
  transform: translateX(-50%);
  position: absolute;
  animation: fade-in 1s ease-in-out forwards;
}
.vrf--verify-spinner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  svg {
    height: 200px;
    width: 200px;
    circle {
      stroke: var(--bs-primary);
      stroke-width: 6;
      transform-origin: 50px 50px 0;
      // transition: all 1s;
      stroke-dasharray: 400;
      stroke-dashoffset: 400;
      stroke-linecap: round;
      animation: draw 1.2s linear forwards, spin 3s linear 1.2s 1 forwards,
        close 1.2s linear 4.2s 1 forwards;
    }
    polyline {
      stroke: var(--bs-primary);
      stroke-width: 5;
      stroke-linecap: round;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      stroke-linejoin: round;
      animation: tick-draw 3s linear 5s forwards,
        fade-out 0.8s ease-in-out 6.2s forwards;
    }
  }
}
.vrf--card {
  margin: 0 auto;
  transition: opacity 0.5s ease-in-out;
  background-color: #2b1331;
  background-image: linear-gradient(315deg, #2b1331 0%, #b9abcf 74%);
  box-shadow: 0 0 10px 0.2em rgba($color: #2b1331, $alpha: 0.3);
  height: 300px;
  max-width: 450px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  .vrf--validion-alert {
    height: 50px;
    div {
      height: 100%;
      line-height: 100%;
      margin: 0;
    }
  }

  .vrf--card-chip {
  }
  .vrf--card-type {
    height: 55px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .vrf--card-number {
    border-radius: 20px;
    outline: 1px solid #2b1331;
    color: #000000;
  }
  .vrf--card-number:focus {
    box-shadow: 0 0 0 0.2em rgba($color: #2b1331, $alpha: 0.3);
  }
  .vrf--card-number__invalid {
    border-radius: 20px;
    border: 0;
    outline: 1px solid rgba($color: #ff0000, $alpha: 0.8);
  }
}
.vrf--verify-button {
  margin: 30px auto 0 auto;
  button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 150;
  }
  50% {
    transform: rotate(540deg);
    stroke-dashoffset: 350;
  }
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 150;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 150;
  }
}

@keyframes tick-draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes tick-close {
  to {
    stroke-dashoffset: 1000;
  }
}
@keyframes close {
  from {
    transform: rotate(1080deg);
    stroke-dashoffset: 150;
  }
  to {
    transform: rotate(1620deg);
    stroke-dashoffset: 500;
  }
}
